{% extends base %}
{% block title %}
<title>Zachary J. Klein</title>
{% endblock %}
{% block content %}
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                Zachary J.
                <span class="text-primary">Klein</span>
            </h1>
            <div class="subheading mb-5">
                New York, NY ·
                <a href="mailto:name@email.com">klein.zachary.j@gmail.com</a>
            </div>
            <p class="lead mb-5">
              It's hard to build something the right way. It takes creativity,
              teamwork, boldness, humility, and time — lots of time. But when
              we get it right, we learn we can achieve much more than we think.
              I’m deeply inspired by people who do whatever it takes to build
              things the right way. And I like to think I bring that passion
              and inspiration with me to work every day.
            </p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/zacharyjklein/"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/zack-klein"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Projects-->
    <section class="resume-section" id="projects">
        <div class="resume-section-content">
            <h2 class="mb-5">Projects</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">
                      <i class="fas fa-football-ball"></i>
                      <a href="https://karens-fantasy-outlook.com"> Karen's Fantasy Outlook </a>
                    </h3>
                    <p>
                      I take Fantasy Football way too seriously.
                    </p>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">
                      <i class="fas fa-user-tie"></i>
                      <a href="https://resumayday.zacharyjklein.com"> Resumayday </a>
                    </h3>
                    <p>
                      Use machine learning to find a job.
                    </p>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">
                      <i class="fas fa-key"></i>
                      <a href="https://keyme.zacharyjklein.com"> Key Me! </a>
                    </h3>
                    <p>
                      Use natural language processing (NLP) to extract keywords
                      from some text.
                    </p>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">
                      <i class="fab fa-twitter"></i>
                      <a href="https://sentimenter.zacharyjklein.com"> Sentimenter </a>
                    </h3>
                    <p>
                      See what how the world feels about a certain topic.
                    </p>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">
                      <i class="fas fa-list-ol"></i>
                      <a href="https://todo.zacharyjklein.com"> Zack's To Do's </a>
                    </h3>
                    <p>
                      Every developer's first project.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Data Engineer</h3>
                    <div class="subheading mb-3"><a href="https://blackstone.com/">Blackstone</a></div>
                    <p>New York, NY</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">September 2019 - Present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Data Engineer</h3>
                    <div class="subheading mb-3"><a href="https://capgemini.com">Capgemini</a></div>
                    <p>New York, NY</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2018 - August 2019</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Intern</h3>
                    <div class="subheading mb-3"><a href="https://boozallen.com">Booz Allen</a></div>
                    <p>San Antonio, TX</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2019</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Education-->
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0"><a href="https://www.trinity.edu/">Trinity University</a></h3>
                    <div class="subheading mb-3">Bachelor of Arts - Business Administration & English</div>
                    <div>San Antonio, TX</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">Class of 2018</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0"><a href="https://nycdatascience.com/">NYC Data Science Academy</a></h3>
                    <div class="subheading mb-3">Python: Machine Learning for Data Science</div>
                    <div>New York, NY</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2019</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages & Tools</div>
            <ul class="list-inline dev-icons">
                <li class="list-inline-item"><i class="fab fa-python"></i></li>
                <li class="list-inline-item"><i class="fas fa-database"></i></li>
                <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                <li class="list-inline-item"><i class="fab fa-aws"></i></li>
                <li class="list-inline-item"><i class="fas fa-snowflake"></i></li>
                <li class="list-inline-item"><i class="fab fa-docker"></i></li>
            </ul>
            <div class="subheading mb-3">Focuses</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Data-centric applications and culture
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Cloud native platforms (via containers or serverless)
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Data-driven culture
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Relentless problem solver
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0" />
</div>
{% endblock %}
